html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*----------------------------banner----------------------------------------*/
.banner {
  position: relative; /* Para permitir o uso do pseudo-elemento */
  background: url('/images/banner.jpg') no-repeat center center;
  background-size: cover;
  min-height: 300px; 
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Evita vazamento do efeito blur */
}

.banner::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Usa a mesma imagem do banner */
  filter: blur(2px); /* Aplica o efeito de desfoque */
  z-index: 1; /* Mantém o fundo atrás do texto */
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  position: relative; /* Para ficar acima do efeito de blur */
  z-index: 2;
}

/*-------------------------------TEXT------------------------------*/

.discord-color {
  color: #7289DA;
}


/*-------------------------------login------------------------------*/
   /* Responsividade */
   @media
   (max-width: 768px) {
       .login-page {
           background-size: cover;
       }

       .col-md-5,
       .col-md-6 {
           padding: 0;
       }

       .card {
           max-width: 90%;
           margin-top: 30px;
       }

       .img-fluid {
           display: none;
           /* Esconde a imagem lateral em telas pequenas */
       }
   }